<div class="row">
	<!-- サイドバー -->
	<div class="col-xs-3">
		<h3 class="item_index_sidebar">ほかの地域も見る！</h3>

		<ul class="list-group">
			<% @areas.each do |area| %>
				<li class="list-group-item">
					<%= link_to items_path(:area_id => area.id) do %>
						<%= area.name %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	<!-- サイドバーここまで -->

	<div class="col-xs-9">
		<div>
			<h2 class="item_index_title"><%= @area.name %>の生鮮食品一覧</h2><br>
			<h3 class="item_index_genre">＜野菜＞</h3>
		</div>

		<div class="clearfix">
			<% @vegetables.each do |vegetable| %>
				<div class="col-xs-3 item_index_detail">
					<%= image_tag vegetable.item_image.url %><br>
					<%= vegetable.name %>

					<!-- 口コミから野菜の相場価格・特売日価格の平均値をそれぞれ算出 -->
					<p>
						相場価格　　
						<% if vegetable.posts.where(price_status: 1).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= vegetable.posts.where(price_status: 1).average(:price).round %>
						<% end %>
					</p>
					<p>
						特売日価格　
						<% if vegetable.posts.where(price_status: 0).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= vegetable.posts.where(price_status: 0).average(:price).round %>
						<% end %>
					</p>
					<!-- 平均値ここまで -->
					<div class="item_index_button">
						<%= link_to "口コミを見る", item_path(vegetable), class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>

		<div>
			<h3 class="item_index_genre">＜果物＞</h3>
		</div>

		<div class="clearfix">
			<% @fruits.each do |fruit| %>
				<div class="col-xs-3 item_index_detail">
					<%= image_tag fruit.item_image.url %>
					<%= fruit.name %>

					<!-- 口コミから果物の相場価格・特売日価格の平均値をそれぞれ算出 -->
					<p>
						相場価格　　
						<% if fruit.posts.where(price_status: 1).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= fruit.posts.where(price_status: 1).average(:price).round %>
						<% end %>
					</p>
					<p>
						特売日価格　
						<% if fruit.posts.where(price_status: 0).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= fruit.posts.where(price_status: 0).average(:price).round %>
						<% end %>
					</p>
					<!-- 平均値ここまで -->
					<div class="item_index_button">
						<%= link_to "　口コミを見る　", item_path(fruit), class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>

		<div>
			<h3 class="item_index_genre">＜魚介類＞</h3>
		</div>

		<div class="clearfix">
			<% @seafoods.each do |seafood| %>
				<div class="col-xs-3 item_index_detail">
					<%= image_tag seafood.item_image.url %>
					<%= seafood.name %>

					<!-- 口コミから魚介類の相場価格・特売日価格の平均値をそれぞれ算出 -->
					<p>
						相場価格　　
						<% if seafood.posts.where(price_status: 1).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= seafood.posts.where(price_status: 1).average(:price).round %>
						<% end %>
					</p>
					<p>
						特売日価格　
						<% if seafood.posts.where(price_status: 0).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= seafood.posts.where(price_status: 0).average(:price).round %>
						<% end %>
					</p>
					<!-- 平均値ここまで -->
					<div class="item_index_button">
						<%= link_to "　口コミを見る　", item_path(seafood), class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>

		<div>
			<h3 class="item_index_genre">＜肉類・卵＞</h3>
		</div>

		<div class="clearfix">
			<% @meats.each do |meat| %>
				<div class="col-xs-3 item_index_detail">
					<%= image_tag meat.item_image.url %>
					<%= meat.name %>

					<!-- 口コミから肉類の相場価格・特売日価格の平均値をそれぞれ算出 -->
					<p>
						相場価格　　
						<% if meat.posts.where(price_status: 1).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= meat.posts.where(price_status: 1).average(:price).round %>
						<% end %>
					</p>
					<p>
						特売日価格　
						<% if meat.posts.where(price_status: 0).average(:price) == nil %>
							¥ －
						<% else %>
							¥ <%= meat.posts.where(price_status: 0).average(:price).round %>
						<% end %>
					</p>
					<!-- 平均値ここまで -->
					<div class="item_index_button">
						<%= link_to "　口コミを見る　", item_path(meat), class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>