<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-11">
		<div>
			<h3 class="post_show_title">口コミ詳細</h3>
		</div>

		<div>
			<table class="table table-bordered">
				<thead>
					<tr class="info">
						<th>商品名</th>
						<th>投稿日時</th>
						<th>価格</th>
						<th>コメント</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td>
								<%= image_tag @item.item_image.confirm.url %>
								<%= @item.name %>
							</td>
							<td><%= @post.updated_at.to_s(:datetime_jp) %></td>
							<td>
								<%= @post.price_status_i18n %>　
								¥ <%= @post.price %>
							</td>
							<td>
								<%= @post.comment %><br>
								主な利用店舗：　<%= @post.shop_name %>
							</td>
							<td>
								<%= @member.age_i18n %>
								<%= @member.sex_i18n %>
							</td>
							<td>いいねボタン</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
		<!-- 地図表示 -->
		<div>
			<h4>主な利用店舗　地図</h4>
		</div>

		<div id="map"></div>

		<style>
			#map{
				height: 350px;
				width: 600px;
			}
		</style>

		<script type="text/javascript">
			var map;
			var service;
			var infowindow;

			function initMap() {
			  var sydney = new google.maps.LatLng(-33.867, 151.195);
			  infowindow = new google.maps.InfoWindow();
			  map = new google.maps.Map(document.getElementById("map"), {
			    center: sydney,
			    zoom: 15,
			  });
			  var request = {
			    query: "<%= @post.shop_name %>",
			    fields: ["name", "geometry"],
			  };
			  service = new google.maps.places.PlacesService(map);
			  service.findPlaceFromQuery(request, (results, status) => {
			    if (status === google.maps.places.PlacesServiceStatus.OK) {
			      for (let i = 0; i < results.length; i++) {
			        createMarker(results[i]);
			      }
			      map.setCenter(results[0].geometry.location);
			    }
			  });
			}

			function createMarker(place) {
			  var marker = new google.maps.Marker({
			    map,
			    position: place.geometry.location,
			  });
			  google.maps.event.addListener(marker, "click", () => {
			    infowindow.setContent(place.name);
			    infowindow.open(map);
			  });
			}
		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initMap">
		</script>
		<!-- 地図表示ここまで -->
	</div>
</div>

<div class="post_show_button">
	<%= link_to "商品ページに戻る", item_path(@item), class: "btn btn-success" %>
</div>
