<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-6">
		<div>
			<h3 class="inquiry_confirm_title">お問い合わせ内容確認</h3>
			<h4>以下の内容を送信します。よろしいですか？</h4>
		</div>

		<div>
			<table class="table table-bordered inquiry_confirm_table">
				<tbody>
					<tr>
						<td>お名前</td>
						<td><%= @inquiry.name %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= @inquiry.email %></td>
					</tr>
					<tr>
						<td>お問い合わせ内容</td>
						<td><%= @inquiry.body %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- お問い合わせ内容として受け渡す内容 -->
		<div>
			<%= form_with(model: @inquiry, url: inquiries_path, method: :post, local: true) do |f| %>
				<%= f.hidden_field :name, value: @inquiry.name %>
				<%= f.hidden_field :email, value: @inquiry.email %>
				<%= f.hidden_field :body, value: @inquiry.body %>
				<%= f.submit "　送信する　", class: "btn btn-primary" %>
			<% end %>
		</div>
		<!-- ここまで -->
	</div>
	<div class="col-xs-4"></div>
</div>