<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
		<div>
			<h3 class="inquiry_new_title">お問い合わせ</h3>
		</div>

		<!-- お問い合わせ内容 -->
		<div>
			<%= form_with(url: inquiries_confirm_path, method: :post, local: true) do |f| %>
				<div class="form-group">
					<%= f.label :name, "お名前" %><br>
					<%= f.text_field :name %>
				</div>

				<div class="form-group">
					<%= f.label :email, "メールアドレス" %><br>
					<%= f.email_field :email %>
				</div>

				<div class="form-group">
					<%= f.label :body, "お問い合わせ内容" %><br>
					<%= f.text_area :body, size: "55x10" %>
				</div>

				<div class="field">
					<%= f.submit "　確認する　", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		<!-- お問い合わせ内容ここまで -->
	</div>
</div>