<div>
	<h2>　登録情報編集　</h2>
</div>

<!-- 会員情報変更フォームここから -->
<div>
	<%= form_with(model: @member, url: member_path(@member), method: :patch) do |f| %>
		<div class="field">
	    <%= f.label :name, "名前orニックネーム" %><br />
	    <%= f.text_field :name, autofocus: true %>
	  </div>

	  <div class="field">
	    <%= f.label :email, "メールアドレス（非公開）" %><br />
	    <%= f.email_field :email %>
	  </div>

	  <div class="field">
	    <%= f.label :sex, "性別" %><br />

	    <%= f.collection_radio_buttons :sex, Member.sexes_i18n, :first, :last %>
	  </div>

	  <div class="field">
	    <%= f.label :age, "年齢" %><br />
	    <%= f.select :age, Member.ages.keys.map { |k| [I18n.t("enums.member.age.#{k}"), k] }, { include_blank: "選択してください"}  %>
	  </div>

	  <div class="field">
	    <%= f.label :area_id, "お住まいの地域" %><br />
    	<%= f.collection_select(:area_id, Area.all, :id, :name) %>
	  </div>

	  <div>
	  	<%= f.submit "　編集内容を保存する　", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>
<!-- 会員情報変更フォームここまで -->

<div>
	<%= link_to "　退会する　", leave_path(current_member), class: "btn btn-danger" %>
</div>